.signin{
    background-color: aqua; 
       display: flex;
       flex-direction: column;
       height: 300px;
       
       
       
    

}
input,button{
   width: 400px;
   border-radius: 8px 8px 8px 8px;
   
   justify-content: center;
   margin-left: 500px;
   margin-top: 10px;
   height: 30px;
}
button{
   color: rgb(187, 6, 112);
   font-size: large;

   width: 300px;
   margin-left: 550px;
}
span{
   color: red;
}